#{extends 'main.html' /}
#{set title:'Profile' /}

<h2> Your Profile </h2>

<div class="container-fluid">

    <div class="row-fluid">
       <div class="span4">
       #{if m.memberPic != null}
       <img src = "@{Members.getMemberPic(m.id)}" width = "100" height"100" class="img-thumbnail" > 
 		#{/if}
       </div> 
  

      <div class="span4">
      <div class="text-primary"> <strong> Pseudo: ${m.memberName} </strong> <br>
      Rating: 
      
      #{if m.numberOfRatings !=0}
      ${m.memberRate/m.numberOfRatings} <em> (on ${m.numberOfRatings} votes) </em> <br>
      #{/if}
      #{else}
      ${m.memberRate} <em> (on ${m.numberOfRatings} votes) </em>
      #{/else}
      </div>
      <small> Description: ${m.description} <br>
      Age: ${m.memberAge} <br>
      </small>
    </div>
    
    <div class="span4">
    <strong> Physical criteria </strong> <br>
    Skin color: ${m.skinColor} <br>
    Skin type: ${m.skinType} <br>
    Eyes: ${m.eyeColor} <br>
    Hair color: ${m.hairColor} <br>
    Hair type: ${m.hairType} <br>

    </div>
    
	</div>
  </div>
  
<br>
<a href="@{Members.profileEdit(m.id)}"> Edit your profile </a>
