#{extends 'main.html' /}
#{set title:'Add Product' /}

<!-- Form to create product -->
#{form @Products.saveProduct(), enctype:'multipart/form-data', id:'form'}

<legend> Product Information </legend>
<!-- name -->
<div class = "control-group">
	<label class = "control-label" id = "label_p_productName" for = "p_productName"> Product Name </label>
	<div class = "controls">
		<input type = "text" placeholder = "Enter product name" name = "p.productName" id = "p_productName" required />
	</div>
</div>

<!-- brand -->
<div class = "control-group">
	<label class = "control-label" id = "label_p_productBrand" for = "p_productBrand"> Product Brand </label>
	<div class = "controls">
		<input type = "text" placeholder = "Enter product brand" name = "p.productBrand" id = "p_productBrand" required />
	</div>
</div>

<!-- Picture -->
<div class = "control-group">
<label class = "control-label" id = "label_p_productPic" for = "p_productPic"> Product Picture </label>
<div class = "controls">
<input type = "file" name = "p.productPic" />
</div>
</div>

<!-- Price -->
<div class = "control-group">
	<label class = "control-label" id = "label_p_productPrice" for = "p_productPrice"> Product Price </label>
	<div class = "controls">
		<input type = "text" placeholder = "Enter product price" name = "p.productPrice" id = "p_productPrice" />
	</div>
</div>

<input type="submit" name="submit" value="Done" class="btn btn-primary active">

#{/form}


