#{extends 'main.html' /}
#{set title:'Products List' /}


 
<h3> Products List: </h3>

<div class="row-fluid">
  <div class="span10 offset1">

			    <!-- Products List -->
				#{if list.size > 0}
				<table id="tbproducts" class="table table-condensed table-striped table-bordered">
					<thead>
						<tr>
							<th>Edit</th>
							<th>Name</th>
							<th>Brand</th>
							<th>Picture</th>
							<th>Price</th>
							<th>Average Rate</th>
							<th>Number of votes</th> 
							<th>Launching Date</th>
						</tr>
					</thead>
					
					<tbody>
						#{list items:list, as:'prod'}
						
						<tr>
							<td> 
							#{a @Products.productEdit(prod.id)}<i class="icon-zoom-in icon-2x"></i>#{/a} 
							</td>
						
							<td>${prod.productName}</td>
							<td>${prod.productBrand}</td>
							<td>
							   <div class="span4">
      							#{if prod.productPic!=null}
      							 <img src = "@{Products.getProductPic(prod.id)}" width = "100" height"100" class="img-thumbnail" > 
 							   	#{/if}
      							</div> 
							
							</td>
							<td>${prod.productPrice}</td>
							<td>${prod.productAverageRate}</td> 
						 	<td>${prod.numberOfRatings}</td> 
							<td>${prod.productLaunchingDate}</td>
							
						</tr>
						#{/list}
					</tbody>
				</table>
				#{/if} #{else}
				<p>no products</p>
				#{/else}

  </div> <!--/span-->
</div>   <!--/row-->

<blockquote>
  <p>Add a new product to our list and review it!</p>
  <small>The Make Up Your Mind Team <cite title="Source Title"></cite></small>
</blockquote>

<a href="@{Products.createProduct()}"> <i class="icon-plus-sign icon-2x"></i> Add a product </a>
